#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: "Montserrat"
}

.container-fluid {
  padding: 3% 15%;
}

h1, h2, h3, h4, h5, h6, {
  font-family: "Montserrat";
}



h1 {
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

/* headings */
.big-heading{
  font-family: "Montserrat";
  size: 3rem;
  line-height: 1.5;
}

.navbar-brand {
  font-weight: "Ubuntu";
  font-weight: 500;
}

/* title image */
.rotate {
  transform: rotate(30deg);
  width: 320px;
  position: absolute;
  top: 15%;
  right: 20%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .rotate {
    position: static;
    transform: rotate(0deg);
  }
}

/* nav bar */
.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

.title-pad {
  margin-bottom: 6rem;
  padding-top: 5rem;
}

/* buttons */
.download-btn {
  margin: 5% 3% 5% 0%;
}

/* features */
#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  wwidth: 100%;
}

.icon {
  color: #ef8172;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.pad {}

.feature-col {
  padding: 2%;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  text-align: center;
  padding: 6.25rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 15% 7%;
  text-align: center;
}

.call-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 3rem;
  size: 10rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* footer */
#footer {
  text-align: center;
  padding: 5% 15%;
}

.ico {
  padding-left: 20px;
  padding-bottom: 1rem;
}
